<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="${title} +'!'" />
    <hr>
    <p> Name : Ardian Jati Permadi </p>
    <p> Birthdate : 8 Desember 1996 </p>
    <p> Birthplace : Boyolali </p>
    <p> Address : Pulisen, Boyolali </p>
    <p> My Education </p>
    <p> Elementary School : SD N 9 Boyolali </p>
    <p> Junior High School : SMP N 1 Boyolali </p>
    <p> Senior High School : SMA N 1 Boyolali </p>
    <p> College : University of Indonesia </p>
    <p> My Description </p>
    <p> I am a football fan. A big fan of Manchester United FC since I was 8. I never miss watching my fav football team playing</p>

</body>
</html>
